@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container-xl">
    <div class="table-responsive">
        <a class="btn btn-success"  asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel İçin Lütfen Tıklayınız. </a>
    </div>
</div>

 
